---

- name: Check lsb_release
  command: "rpm -E %fedora"
  register: fedora_release

- name: Install RPMfusion repo
  dnf:
    name: "{{ packages }}"
    state: present
    disable_gpg_check: true
  vars:
    packages:
      - "https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ fedora_release.stdout }}.noarch.rpm"
      - "https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ fedora_release.stdout }}.noarch.rpm"

- name: Add Virtualbox GPG key
  ansible.builtin.rpm_key:
    state: present
    key: https://www.virtualbox.org/download/oracle_vbox.asc
- name: Add Virtualbox repo
  template:
    src: virtualbox.repo.j2
    dest: "/etc/yum.repos.d/virtualbox.repo"
    owner: root
    group: root
    mode: '0644'
- name: Install virtualbox
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - VirtualBox
      - kmod-VirtualBox
      - akmod-VirtualBox
      - virtualbox-guest-additions

- name: Add VScodium GPG key
  ansible.builtin.rpm_key:
    state: present
    key: https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/-/raw/master/pub.gpg
- name: Add VScodium repo
  template:
    src: vscodium.repo.j2
    dest: "/etc/yum.repos.d/vscodium.repo"
    owner: root
    group: root
    mode: '0644'

- name: Add PyCharm repo
  community.general.copr:
    state: enabled
    name: 'phracek/PyCharm'

- name: Add i2pd repo
  community.general.copr:
    state: enabled
    name: 'supervillain/i2pd'

- name: Add yggdrasil repo
  community.general.copr:
    state: enabled
    name: 'rany/yggdrasil'

- name: Add ZFS repo
  become: true
  shell: dnf install -y https://zfsonlinux.org/fedora/zfs-release$(rpm -E %dist).noarch.rpm

- name: Update dnf cache
  dnf:
    update_cache: yes

- name: Install packages from additional repos
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - codium
      - pycharm-community
      - i2pd
      - yggdrasil
