---

- name: Check lsb_release
  command: "rpm -E %fedora"
  register: fedora_release

- name: Install RPMfusion repo
  dnf:
    name: "{{ packages }}"
    state: present
    disable_gpg_check: true
  vars:
    packages:
      - "https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ fedora_release.stdout }}.noarch.rpm"
      - "https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ fedora_release.stdout }}.noarch.rpm"

- name: Add VScode GPG key
  ansible.builtin.rpm_key:
    state: present
    key: https://packages.microsoft.com/keys/microsoft.asc
- name: Add VScode repo
  template:
    src: vscode.repo.j2
    dest: "/etc/yum.repos.d/vscode.repo"
    owner: root
    group: root
    mode: '0644'

# - name: Add Virtualbox GPG key
#   ansible.builtin.rpm_key:
#     state: present
#     key: https://www.virtualbox.org/download/oracle_vbox.asc
# - name: Add Virtualbox repo
#   template:
#     src: virtualbox.repo.j2
#     dest: "/etc/yum.repos.d/virtualbox.repo"
#     owner: root
#     group: root
#     mode: '0644'
# - name: Install virtualbox
#   dnf:
#     name: "{{ packages }}"
#     state: present
#   vars:
#     packages:
#       - VirtualBox
#       - kmod-VirtualBox
#       - akmod-VirtualBox
#       - virtualbox-guest-additions

# - name: Add Yandex browser GPG key
#   ansible.builtin.rpm_key:
#     state: present
#     key: https://repo.yandex.ru/yandex-browser/YANDEX-BROWSER-KEY.GPG
# - name: Add Yandex browser repo
#   template:
#     src: yandex-browser.repo.j2
#     dest: "/etc/yum.repos.d/yandex-browser.repo"
#     owner: root
#     group: root
#     mode: '0644'

- name: Update dnf cache
  dnf:
    update_cache: yes

- name: Install packages from additional repos
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - code
      # - yandex-browser-stable
