---

- name: Add VScode GPG key
  ansible.builtin.rpm_key:
    state: present
    key: https://packages.microsoft.com/keys/microsoft.asc
- name: Add VScode repo
  template:
    src: vscode.repo.j2
    dest: "/etc/yum.repos.d/vscode.repo"
    owner: root
    group: root
    mode: '0644'

- name: Add PyCharm repo
  community.general.copr:
    state: enabled
    name: 'phracek/PyCharm'

- name: Add i2pd repo
  community.general.copr:
    state: enabled
    name: 'supervillain/i2pd'

- name: Add yggdrasil repo
  community.general.copr:
    state: enabled
    name: 'rany/yggdrasil'

- name: Add ZFS repo
  become: true
  shell: dnf install -y https://zfsonlinux.org/fedora/zfs-release$(rpm -E %dist).noarch.rpm

- name: Update dnf cache
  dnf:
    update_cache: yes
