---

- name: Install office apps
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
    - gnome-calendar

- name: Install file managing & share packages
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - syncthing
      - persepolis

- name: Install KVM packages
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - qemu
      - qemu-kvm
      - libvirt-daemon
      - libvirt
      - libvirt-devel
      - ebtables
      - virt-manager
      - bridge-utils

- name: Start & enable libvirt
  service: 
    name: {{ item }} 
    state: started 
    enabled: yes 
  with_item:
  - libvirtd-admin.socket
  - libvirtd-tls.socket
  - libvirtd.socket
  - libvirtd-ro.socket
  - libvirtd-tcp.socket

- name: Install vagrant
  dnf:
    name: vagrant
    state: present

- name: Install VPNs
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - wireguard
      - wireguard-tools
      - openconnect
      - NetworkManager-l2tp
      - NetworkManager-l2tp-gnome
      - NetworkManager-openconnect-gnome
      - NetworkManager-openvpn-gnome
      - tor

- name: Disable autoload & stop tor service
  service:
    name: tor
    state: stopped
    enabled: no

- name: Install wine & steam
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - wine
      - playonlinux
      - steam
