---

- name: Install base packages
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - guake
      - gparted
      - flameshot
      - gnome-tweaks
      - kdiskmark
      - firefox
      - chromium
      - torbrowser-launcher
      - telegram-desktop
      - pidgin
      - libreoffice
      - thunderbird
      - meld
      - geany
      - keepassxc
      - electrum
      - copyq
      - onionshare
      - filezilla
      - remmina
      - remmina-gnome-session
      - remmina-plugins-rdp
      - remmina-plugins-vnc
      - transmission
      - vlc
      - HandBrake-gui

- name: Install monitor packages
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - gnome-system-monitor
      - gsmartcontrol

- name: Install office apps
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
    - gnome-calendar

- name: Install file managing & share packages
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - syncthing
      - persepolis

- name: Install KVM packages
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - qemu
      - qemu-kvm
      - libvirt-daemon
      - libvirt
      - libvirt-devel
      - ebtables
      - virt-manager
      - bridge-utils

- name: Start & enable libvirt
  service:
    name: "{{ item }}"
    state: started
    enabled: yes
  with_items:
  - libvirtd-admin.socket
  - libvirtd-tls.socket
  - libvirtd.socket
  - libvirtd-ro.socket
  - libvirtd-tcp.socket
  - virtnetworkd-ro.socket
  - virtnetworkd-admin.socket
  - virtnetworkd.socket

- name: Install vagrant
  dnf:
    name: vagrant
    state: present

- name: Install VPNs
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - wireguard
      - wireguard-tools
      - openconnect
      - NetworkManager-l2tp
      - NetworkManager-l2tp-gnome
      - NetworkManager-openconnect-gnome
      - NetworkManager-openvpn-gnome

- name: Install wine & steam
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - wine
      - playonlinux
      - steam
