---

- name: Remove usless system packages
  dnf:
    name: "{{ packages }}"
    state: absent
  vars:
    packages:
    - zfs-fuse
    - libreoffice
    - libreoffice-*

- name: Install system packages
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - fedora-workstation-repositories
      - ca-certificates
      - dkms
      - kernel-devel
      - kernel-headers
      - gcc
      - bzip2
      - curl
      - wget
      - openssh
      - vim
      - htop
      - iotop
      - ncdu
      - net-tools
      - firejail
      - gnome-usage
      - zram
      - mlocate
      - arp-scan
      - autossh
      - cmake
      - iperf
      - iperf3
      - jq
      - jo
      - netcat
      - nmap
      - openldap
      - openldap-devel
      - pipenv
      - virtualenv
      - pv
      - qrencode
      - rsync
      - speedtest-cli
      - smartmontools
      - sshfs
      - telnet
      - tree
      - exif
      - youtube-dl
      - yt-dlp
      - zstd
      - lz4
      - android-tools
      - snapd
      # - akmod-nvidia #! Nvidia Only
      - redhat-lsb-core
      - zsh
      - zsh-syntax-highlighting
      - zsh-autosuggestions
      - ufw
      - screen
      - perl-Image-ExifTool
      - compsize
      - adb-enhanced
      - mdadm
      - sushi
      - libxml2-devel
      - make
      - ruby-devel
      - tor
      - obfs4
      - proxychains-ng
      - zfs
      - hashcat
      - supervisor
      - arm-image-installer
      - "@Development Tools"
      - "@development-tools"
      - git
      - ansible
      - ninja-build
      - clang
      - clang-devel
      - golang
      - python3
      - python3.9
      - python3-pip
      - python3-devel
      - python-devel
      - java-11-openjdk
      - java-11-openjdk-devel
      - s3cmd
      - pwgen
      - rust
      - cargo
      - sqlite
      - sqlite-devel
      - gnome-shell-extension-gsconnect

- name: Install Databases
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - postgresql
      - postgresql-contrib
      - postgresql-server
      - postgresql-server-devel
      - community-mysql
      - community-mysql-server
      - redis

- name: Install Nginx packages
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - nginx
      - nginx-all-modules

- name: Install NetTools
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - wireguard
      - wireguard-tools
      - openconnect
      - NetworkManager-l2tp
      - NetworkManager-l2tp-gnome
      - NetworkManager-openconnect-gnome
      - NetworkManager-openvpn-gnome

- name: Configure enabled services
  service:
    name: "{{ item }}"
    state: started
    enabled: true
  with_items:
    - sshd
    - ufw
    - i2pd
    - tor
    - yggdrasil

- name: Configure disabled services
  service:
    name: "{{ item }}"
    state: stopped
    enabled: false
  with_items:
    - firewalld
    - nginx
    - redis
    - mysqld
    - postgresql

- name: Add the ZFS module
  become: true
  community.general.modprobe:
    name: zfs
    state: present
- name: Check ZFS autoload file
  become: true
  file:
    path: /etc/modules-load.d/zfs.conf
    state: touch
- name: Configure Redis listen interface
  become: true
  ansible.builtin.lineinfile:
    path: /etc/modules-load.d/zfs.conf
    line: "zfs"
    owner: root
    group: root
    mode: '0644'

- name: Stop UFW
  become: true
  community.general.ufw:
    state: disabled

- name: Reset UFW
  become: true
  community.general.ufw:
    state: reset

- name: Allow all access to port 22
  become: true
  community.general.ufw:
    rule: allow
    port: '22'

- name: Allow all access from RFC1918 networks to this host
  become: true
  community.general.ufw:
    rule: allow
    src: '{{ item }}'
  loop:
    - 127.0.0.0/8
    - 10.0.0.0/8
    - 172.16.0.0/12
    - 192.168.0.0/16
- name: Allow all access from Docker networks to this host
  become: true
  community.general.ufw:
    rule: allow
    src: '{{ item }}'
  loop:
    # Docker subnet
    - 172.17.0.0/16
    - 172.18.0.0/16

- name: Reject everything and enable UFW
  become: true
  community.general.ufw:
    state: enabled
    policy: reject

- name: Reload UFW
  become: true
  community.general.ufw:
    state: reloaded

- name: Check root SSH dir
  file: 
    path: "/root/.ssh"
    state: directory

- name: Check user SSH dir
  file:
    path: "/home/{{ os_user }}/.ssh"
    state: directory
  become: true
  become_user: "{{ os_user }}"

- name: Inspect root SSH key
  openssh_keypair:
    path: "/root/.ssh/id_rsa"
    type: rsa
    size: 4096
    state: present
    force: no
  become: true

- name: Inspect user SSH key
  openssh_keypair:
    path: "/home/{{ os_user }}/.ssh/id_rsa"
    type: rsa
    size: 4096
    state: present
    force: no
  become: true
  become_user: "{{ os_user }}"

- name: Create user GIT dir
  file:
    path: "/home/{{ os_user }}/git"
    state: directory
    owner: "{{ os_user }}"
    group: "{{ os_user }}"
    mode: "0755"
  become: true
  become_user: "{{ os_user }}"

- name: Create git lib dir
  file:
    path: "{{ git_lib }}"
    state: directory
    owner: "{{ os_user }}"
    group: "{{ os_user }}"
    mode: "0777"

- name: Copy wallpaper
  copy:
    src: "files/Wallpaper"
    dest: "/home/{{os_user}}/Pictures/"
    owner: "{{ os_user }}"
    group: "{{ os_user }}"
    mode: '0444'

- name: Install VimPlug
  become: true
  become_user: "{{ os_user }}"
  command: "curl -s -fLo /home/{{ os_user }}/.vim/autoload/plug.vim --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"

- name: Config vimrc
  template:
    src: vimrc.j2
    dest: "/home/{{ os_user }}/.vimrc"
    owner: "{{ os_user }}"
    group: "{{ os_user }}"
    mode: '0640'
