---

- name: Check lsb_release
  command: "rpm -E %fedora"
  register: fedora_release

- name: Install system packages
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - fedora-workstation-repositories
      - "https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ fedora_release.stdout }}.noarch.rpm"
      - "https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ fedora_release.stdout }}.noarch.rpm"
      - ca-certificates
      - dkms
      - kernel-devel
      - kernel-headers
      - gcc
      - bzip2
      - curl
      - wget
      - openssh
      - vim
      - htop
      - iotop
      - ncdu
      - net-tools
      - firejail
      - gnome-usage
      - zram
      - mlocate
      - gnome-dictionary
      - arp-scan
      - autossh
      - cmake
      - iperf
      - iperf3
      - jq
      - jo
      - netcat
      - nmap
      - openldap
      - pipenv
      - virtualenv
      - pv
      - qrencode
      - rsync
      - speedtest-cli
      - smartmontools
      - sshfs
      - telnet
      - tree
      - exif
      - youtube-dl
      - zstd
      - android-file-transfer
      - android-tools
      - snapd
      # - akmod-nvidia #! Nvidia Only
      - redhat-lsb-core
      - corectrl
      - zsh
      - zsh-syntax-highlighting
      - zsh-autosuggestions
      - ufw
      - screen
      - perl-Image-ExifTool
      - compsize
      - adb-enhanced
      - mdadm
      - sushi
      - wine
      - libxml2-devel
      - make
      - ruby-devel
      - lm-sensors

- name: Install base packages
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - keepassxc
      - guake
      - copyq
      - gparted
      - geany
      - sushi # A quick previewer for Nautilus
      - devhelp # API documentation browser
      - timeshift
      - flameshot
      - hashcat
      - gnome-tweaks
      - kdiskmark

- name: Install monitor packages
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - gnome-system-monitor
      - gsmartcontrol

- name: Install DBs packages
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - postgresql
      - postgresql-contrib
      - postgresql-server
      - community-mysql
      - community-mysql-server

- name: Disable autoload & stop Postgres service
  service:
    name: postgresql
    state: stopped
    enabled: no
- name: Disable autoload & stop MySQL service
  service:
    name: mysqld
    state: stopped
    enabled: no

- name: Check root SSH dir
  file: 
    path: "/root/.ssh"
    state: directory

- name: Check user SSH dir
  file:
    path: "/home/{{ os_user }}/.ssh"
    state: directory
  become: true
  become_user: "{{ os_user }}"

- name: Inspect root SSH key
  openssh_keypair:
    path: "/root/.ssh/id_rsa"
    type: rsa
    size: 4096
    state: present
    force: no
  become: true

- name: Inspect user SSH key
  openssh_keypair:
    path: "/home/{{ os_user }}/.ssh/id_rsa"
    type: rsa
    size: 4096
    state: present
    force: no
  become: true
  become_user: "{{ os_user }}"
