---
- name: Install flatpak
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - flatpak

- name: Add Flathub repo
  command: "flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo"

- name: Install OnlyOffice
  flatpak:
    name: org.onlyoffice
    state: present

- name: Install PyCharm
  flatpak:
    name: com.jetbrains.PyCharm-Community
    state: present

- name: Install IDEA
  flatpak:
    name: com.jetbrains.IntelliJ-IDEA-Community
    state: present

- name: Install Android Studio
  flatpak:
    name: com.google.AndroidStudio
    state: present

- name: Install Postman
  flatpak:
    name: com.getpostman.Postman
    state: present

- name: Install DBeaver CE
  flatpak:
    name: io.dbeaver.DBeaverCommunity
    state: present

- name: Install Electrum
  flatpak:
    name: org.electrum.electrum
    state: present

- name: Install Zoom
  flatpak:
    name: us.zoom.Zoom
    state: present

- name: Install Skype
  flatpak:
    name: com.skype.Client
    state: present

- name: Install Element
  flatpak:
    name: im.riot.Riot
    state: present

- name: Install Slack
  flatpak:
    name: com.slack.Slack
    state: present

- name: Install Jami
  flatpak:
    name: net.jami.Jami
    state: present

- name: Install Obsidian # ! Proprietary
  flatpak:
    name: md.obsidian.Obsidian
    state: present

- name: Install GTK Stress Testing
  flatpak:
    name: com.leinardi.gst
    state: present

# - name: Install Nvidia GPU util # ! Nvidia only
#   flatpak:
#     name: com.leinardi.gwe
#     state: present

- name: Install Delta Chat
  flatpak:
    name: chat.delta
    state: present

- name: Install Tribler
  flatpak:
    name: org.tribler.Tribler
    state: present

- name: Install Jitsi Meet
  flatpak:
    name: org.jitsi.jitsi-meet
    state: present

- name: Install Natron
  flatpak:
    name: fr.natron.Natron
    state: present
