---
- name: Install flatpak
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - flatpak

- name: Add Flathub repo
  command: "flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo"

- name: Install KeePassXC
  flatpak:
    name: org.keepassxc.KeePassXC
    state: present
- name: Install VSCodium
  flatpak:
    name: com.vscodium.codium
    state: present

- name: Install Electrum
  flatpak:
    name: org.electrum.electrum
    state: present

- name: Install Chromium
  flatpak:
    name: org.chromium.Chromium
    state: present

- name: Install Remmina
  flatpak:
    name: org.remmina.Remmina
    state: present
- name: Install Anydesk
  flatpak:
    name: com.anydesk.Anydesk
    state: present
- name: Install Wireshark
  flatpak:
    name: org.wireshark.Wireshark
    state: present
- name: Install Geany
  flatpak:
    name: org.geany.Geany
    state: present
- name: Install Meld
  flatpak:
    name: org.gnome.Meld
    state: present

- name: Install DBeaver
  flatpak:
    name: io.dbeaver.DBeaverCommunity
    state: present
- name: Install Postman
  flatpak:
    name: com.getpostman.Postman
    state: present
- name: Install DejaDup
  flatpak:
    name: org.gnome.DejaDup
    state: present

- name: Install Telegram
  flatpak:
    name: org.telegram.desktop
    state: present
- name: Install Pidgin
  flatpak:
    name: im.pidgin.Pidgin
    state: present
- name: Install Zoom
  flatpak:
    name: us.zoom.Zoom
    state: present
- name: Install Skype
  flatpak:
    name: com.skype.Client
    state: present
- name: Install Element
  flatpak:
    name: im.riot.Riot
    state: present
- name: Install Slack
  flatpak:
    name: com.slack.Slack
    state: present
- name: Install MS Teams
  flatpak:
    name: com.microsoft.Teams
    state: present
- name: Install Jami
  flatpak:
    name: net.jami.Jami
    state: present
- name: Install Delta Chat
  flatpak:
    name: chat.delta
    state: present
- name: Install Jitsi Meet
  flatpak:
    name: org.jitsi.jitsi-meet
    state: present

# Office
- name: Install OnlyOffice
  flatpak:
    name: org.onlyoffice
    state: present
- name: Install LibreOffice
  flatpak:
    name: org.libreoffice.LibreOffice
    state: present
- name: Install Thunderbird
  flatpak:
    name: org.mozilla.Thunderbird
    state: present
- name: Install Gnome Calendar
  flatpak:
    name: org.gnome.Calendar
    state: present
- name: Install Obsidian # ! Proprietary
  flatpak:
    name: md.obsidian.Obsidian
    state: present
# Compress Image
- name: Install Curtail
  flatpak:
    name: com.github.huluti.Curtail
    state: present
# Metadata Clenaer
- name: Install MetadataCleaner
  flatpak:
    name: fr.romainvigier.MetadataCleaner
    state: present

- name: Install VLC
  flatpak:
    name: org.videolan.VLC
    state: present
- name: Install handBrake
  flatpak:
    name: fr.handbrake.ghb
    state: present

# Custom
- name: Install GTK Stress Testing
  flatpak:
    name: com.leinardi.gst
    state: present

- name: Install Transmission
  flatpak:
    name: com.transmissionbt.Transmission
    state: present
- name: Install qBittorrent
  flatpak:
    name: org.qbittorrent.qBittorrent
    state: present
- name: Install Tribler
  flatpak:
    name: org.tribler.Tribler
    state: present
- name: Install Filezilla
  flatpak:
    name: org.filezillaproject.Filezilla
    state: present
- name: Install OnionShare
  flatpak:
    name: org.onionshare.OnionShare
    state: present
