---

- name: Install VPNs
  dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - wireguard
      - wireguard-tools
      - openconnect
      - NetworkManager-l2tp
      - NetworkManager-l2tp-gnome
      - NetworkManager-openconnect-gnome
      - NetworkManager-openvpn-gnome
      # - shadowsocks-libev
      - tor
      # - i2p
      # - i2pd

- name: Disable autoload & stop tor service
  service:
    name: tor
    state: stopped
    enabled: no

# - name: Disable autoload & stop i2p service
#   service:
#     name: i2p
#     state: stopped
#     enabled: no

# - name: Disable autoload & stop i2pd service
#   service:
#     name: i2pd
#     state: stopped
#     enabled: no

# - name: Disable autoload & stop shadowsocks service
#   service:
#     name: shadowsocks-libev
#     state: stopped
#     enabled: no

  # sudo nmcli connection add connection.id <VPN> connection.type vpn connection.permissions <user> vpn.service-type openconnect vpn.data gateway=<gateway>
