---

- name: Check lsb_release
  command: "lsb_release -cs"
  register: lsb_release
- name: Add Docker GPG key
  apt_key:
    url: "https://download.docker.com/linux/debian/gpg"
    state: present
- name: Add Docker repo
  apt_repository:
    repo: "deb https://download.docker.com/linux/debian {{ lsb_release.stdout }} stable"
    filename: docker
    state: present

- name: Configure VScodium GPG key
  shell: wget -qO - https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg | gpg --dearmor  | dd of=/usr/share/keyrings/vscodium-archive-keyring.gpg
- name: Add VScodium repo
  apt_repository:
    repo: "deb [ signed-by=/usr/share/keyrings/vscodium-archive-keyring.gpg ] https://download.vscodium.com/debs vscodium main"
    state: present

- name: Add yggdrasil GPG key
  apt_key:
    url: "https://neilalexander.s3.dualstack.eu-west-2.amazonaws.com/deb/key.txt"
    state: present
- name: Add yggdrasil repo
  apt_repository:
    repo: "deb http://neilalexander.s3.dualstack.eu-west-2.amazonaws.com/deb/ debian yggdrasil"
    state: present

- name: Update cache after update repo
  apt:
    update_cache: yes

- name: Install Docker packages
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose

- name: Enable Docker service
  service:
    name: docker
    state: started
    enabled: yes

- name: Add the user Docker groups
  user:
    name: "{{ os_user }}"
    groups: docker
    append: yes

- name: Install Yggdrasil
  apt:
    name: yggdrasil
    state: present
- name: Create yggdrasil config file
  become: true
  shell: yggdrasil -genconf > /etc/yggdrasil.conf
- name: Enable autoload & start yggdrasil service
  service:
    name: yggdrasil
    state: started
    enabled: yes

- name: Install VScodium
  apt:
    name: codium
    state: present
