###
- name: Install base Apps
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - gparted
      - wireshark
      - virt-manager
      - android-file-transfer

- name: Install file managing & share packages
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - syncthing
      - meld
      - persepolis

- name: Install Win compatibility tools
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - wine
      - wine64
      - wine64-tools
      - wine-binfmt
      - winetricks
      - playonlinux
