###
- name: Install KDE Apps
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - yakuake
      - gwenview
      - okular
      - kwrite
      - ktorrent
      - kget
      - falkon
      - ark
      - okteta
      - kontact
      - konversation
      - krusader
      - kdiff3
      - kdevelop
      - kcalc
      - kbackup
      - kdenlive

- name: Install base Apps
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - telegram-desktop
      - jami
      - syncthing
      - gparted
      - wireshark
      - virt-manager
      - android-file-transfer
      - keepassxc
      - remmina
      - remmina-plugin-rdp
      - remmina-plugin-vnc
      - electrum
      - firefox-esr
      - chromium
      - vlc
      - handbrake
      - krita
      - gimp
      - inkscape
      - obs-studio
      - audacity
      - thunderbird
      - pidgin
      - libreoffice
      - libreoffice-plasma
      - onionshare

- name: Install Win compatibility tools
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - wine
      - wine64
      - wine64-tools
      - wine-binfmt
      - winetricks
      - playonlinux
      # - steam
