---

- name: Install system packages and libs
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - zsh
      - zsh-syntax-highlighting
      - zsh-autosuggestions
      - apt-transport-https
      - ca-certificates
      - curl
      - wget
      - gnupg-agent
      - software-properties-common
      - ufw
      - ssh
      - screen
      - vim
      - htop
      - iotop
      - ncdu
      - net-tools
      - firejail
      - zram-tools
      - dphys-swapfile
      - locate
      - mat2
      - arp-scan
      - autossh
      - cmake
      - netcat
      - hashcat
      - nmap
      - ldap-utils
      - pv
      - qrencode
      - rsync
      - speedtest-cli
      - smartmontools
      - telnet
      - tree
      - watch
      - dirmngr
      - zstd
      - snapd
      - gnome-sushi
      - firmware-misc-nonfree
      - openssh-client
      - openssh-server
      - screen
      - bzip2
      - lz4
      - apt-mirror

- name: Install filesystems packages
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - mdadm
      - fuse3
      - sshfs
      - zfs-dkms
      - zfs-zed
      - zfsutils-linux
      - btrfs-progs
      - btrfs-compsize
      - apt-btrfs-snapshot
      - zfs-auto-snapshot

- name: Install CLI utils
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - wine
      - libimage-exiftool-perl
      - exif
      - iperf
      - iperf3
      - jq
      - jo
      - youtube-dl

- name: Install monitor packages
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - hardinfo
      - cpupower-gui
      - gnome-system-monitor
      - gsmartcontrol

- name: Install VPN & net-tools
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - wireguard
      - wireguard-tools
      - openconnect
      - network-manager-l2tp
      - network-manager-l2tp-gnome
      - network-manager-openconnect-gnome
      - network-manager-openvpn-gnome
      - shadowsocks-libev
      - tor
      - i2pd
      - proxychains4

- name: Install DevTools
  apt: 
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - default-jdk
      - default-jdk-headless
      - default-jre
      - default-jre-headless
      - ansible
      - build-essential
      - git
      - watch
      - make
      - cmake
      - ninja-build
      - gcc
      - rustc
      - rust-gdb
      - rust-lldb
      - rust-src
      - golang
      - clang
      - python3
      - python3-pip
      - python3-dev
      - python
      - python-dev
      - pipenv
      - virtualenv
      - libffi-dev
      - libgdbm-dev
      - libsqlite3-dev
      - zlib1g-dev
      - libkrb5-dev
      - heimdal-dev
      - linux-headers-amd64
      - android-sdk
      - adb
      - fastboot
      - apkinfo
      - apktool
      - ruby-dev
      - clang
      - libxml2
      - libxml2-dev
      - libgtk-3-dev
      - libblkid-dev
      - liblzma-dev
      - libsasl2-dev
      - libldap2-dev
      - libssl-dev

- name: Install VM packages
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - qemu
      - qemu-kvm
      - libvirt-daemon
      - libvirt-clients
      - libvirt-daemon-system
      - virtinst
      - ebtables
      - bridge-utils
      - vagrant

- name: Install DBs
  apt: 
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - redis
      - redis-tools
      - redis-server
      - postgresql
      - postgresql-client
      - default-mysql-server
      - default-mysql-client
      - sqlite3

# Services
- name: Enable autoload & start ufw service
  service:
    name: ufw
    state: started
    enabled: yes
- name: Reset UFW
  become: true
  community.general.ufw:
    state: reset
- name: Allow all access to port 22
  become: true
  community.general.ufw:
    rule: allow
    port: '22'
- name: Allow all access from RFC1918 networks to this host
  become: true
  community.general.ufw:
    rule: allow
    src: '{{ item }}'
  loop:
    - 127.0.0.0/8
    - 10.0.0.0/8
    - 172.16.0.0/12
    - 192.168.0.0/16
- name: Allow all access from Docker networks to this host
  become: true
  community.general.ufw:
    rule: allow
    src: '{{ item }}'
  loop:
    # Docker subnet
    - 172.17.0.0/16
    - 172.18.0.0/16
- name: Reject everything and enable UFW
  become: true
  community.general.ufw:
    state: enabled
    policy: reject
- name: Reload UFW
  become: true
  community.general.ufw:
    state: reloaded

- name: Configure enabled services
  service:
    name: "{{ item }}"
    state: started
    enabled: true
  with_items:
  - ufw
  - sshd
  - libvirtd

- name: Configure disabled services
  service:
    name: "{{ item }}"
    state: stopped
    enabled: false
  with_items:
  - tor
  - i2pd
  - shadowsocks-libev
  - redis-server
  - postgresql
  - mysql

- name: Copy wallpaper
  copy:
    src: "files/Wallpaper"
    dest: "/home/{{os_user}}/Pictures/"
    owner: "{{ os_user }}"
    group: "{{ os_user }}"
    mode: '0444'

- name: Check root SSH dir
  file: 
    path: "/root/.ssh"
    state: directory

- name: Check SSH dir
  file: 
    path: "/home/{{ os_user }}/.ssh"
    state: directory

- name: Inspect root SSH key
  openssh_keypair:
    path: "/root/.ssh/id_rsa"
    type: rsa
    size: 4096
    state: present
    force: no
  become: true

- name: Inspect user SSH key
  openssh_keypair:
    path: "/home/{{ os_user }}/.ssh/id_rsa"
    type: rsa
    size: 4096
    state: present
    force: no
  become: true
  become_user: "{{ os_user }}"

- name: Create user GIT dir
  file:
    path: "/home/{{ os_user }}/git"
    state: directory
    owner: "{{ os_user }}"
    group: "{{ os_user }}"
    mode: "0755"
  become: true
  become_user: "{{ os_user }}"

- name: Create git lib dir
  file:
    path: "/opt/git"
    state: directory
    owner: "{{ os_user }}"
    group: "{{ os_user }}"
    mode: "0777"

- name: Install VimPlug
  become: true
  become_user: "{{ os_user }}"
  command: "curl -s -fLo /home/{{ os_user }}/.vim/autoload/plug.vim --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"

- name: Config vimrc
  template:
    src: vimrc.j2
    dest: "/home/{{ os_user }}/.vimrc"
    owner: "{{ os_user }}"
    group: "{{ os_user }}"
    mode: '0640'

- name: Install VimPlug
  become: true
  become_user: "{{ os_user }}"
  command: 'vim -c ":PlugInstall" -c ":q" -c ":q"'
