---
- name: Install packages
  yum: 
    name: "{ packages }"
    state: present
  var:
    packages:
    - git
    - ansible
    - zsh
    - zsh-autosuggestions
    - zsh-syntax-highlighting
    - ca-certificates
    - curl
    - wget
    - vim
    - htop
    - iotop
    - ncdu
    - net-tools
    - keepassxc
    - guake
    - copyq
    - firejail
    - gnome-tweaks
    - gnome-usage
    - timeshift
    - flameshot
    - zram
    - mlocate
    - gnome-dictionary
    - sushi
    - devhelp
    - geany
    - arp-scan
    - autossh
    - cmake
    - exif
    - hashcat
    - iperf
    - iperf3
    - jq
    - netcat
    - nmap
    - openldap
    - pipenv
    - virtualenv
    - pv
    - qrencode
    - rsync
    - speedtest-cli
    - smartmontools
    - sshfs
    - telnet
    - tree
    - youtube-dl
