---

- name: Install base packages
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      # - zsh
      # - zsh-autosuggestions
      # - zsh-git-prompt
      # - zsh-syntax-highlighting
      - apt-transport-https
      - ca-certificates
      - curl
      - wget
      - gnupg-agent
      - software-properties-common
      - gufw
      - ssh
      - vim
      - htop
      - iotop
      - ncdu
      - net-tools
      - keepassxc
      - guake
      - copyq
      - firejail
      - gnome-tweaks
      - gnome-usage
      - timeshift
      - flameshot
      - zram-config
      - zram-tools
      - locate
      - gnome-dictionary
      - gnome-sushi
      - devhelp
      - geany
      - mat2
      - apktool
      - arp-scan
      - autossh
      - cmake
      - libimage-exiftool-perl
      - hashcat
      - iperf
      - iperf3
      - jq
      - netcat
      - nmap
      - ldap-utils
      - pipenv
      - virtualenv
      - pv
      - qrencode
      - rsync
      - speedtest-cli
      - smartmontools
      - sshfs
      - telnet
      - tree
      - watch
      - youtube-dl
      - zstd
      - android-file-transfer
      - android-platform-tools-base
      - snapd
      - gparted

- name: Install monitor packages
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - hardinfo
      - cpupower-gui
      - gir1.2-gtop-2.0 # for extension
      - gir1.2-nm-1.0
      - gir1.2-clutter-1.0
      - gnome-system-monitor
      - gsmartcontrol

- name: Disable autoload & stop ufw service
  service:
    name: ufw
    state: stopped
    enabled: no

- name: Check root SSH dir
  file: 
    path: "/root/.ssh"
    state: directory

- name: Check SSH dir
  file: 
    path: "/home/{{ os_user }}/.ssh"
    state: directory

- name: Inspect root SSH key
  openssh_keypair:
    path: "/root/.ssh/id_rsa"
    type: rsa
    size: 4096
    state: present
    force: no
  become: true

- name: Inspect user SSH key
  openssh_keypair:
    path: "/home/{{ os_user }}/.ssh/id_rsa"
    type: rsa
    size: 4096
    state: present
    force: no
  become: true
  become_user: "{{ os_user }}"
