---
- name: Install Apache Directory Studio
  unarchive:
    src: https://apache-mirror.rbc.ru/pub/apache/directory/studio/2.0.0.v20200411-M15/ApacheDirectoryStudio-2.0.0.v20200411-M15-linux.gtk.x86_64.tar.gz
    dest: /opt/
    remote_src: yes

- name: Create Apache Directory Studio link into Launcher
  template:
    src: ApacheDirectoryStudio.j2
    dest: "/home/{{ os_user }}/.local/share/applications/ApacheDirectoryStudio.desktop"
    owner: "{{ os_user }}"
    group: "{{ os_user }}"
    mode: '0777'

