---

- name: Install develop snap packages
  snap:
    name: "{{ packages }}"
    state: present
    classic: yes
  vars:
    packages:
      - pycharm-community
      - intellij-idea-community
      - android-studio
      - postman
      - dbeaver-ce
      - go

- name: Install social snap packages
  snap:
    name: "{{ packages }}"
    state: present
    classic: yes
  vars:
    packages:
    - slack
    - zoom-client
    - skype
    - ssb-patchwork

- name: Install network snap packages
  snap:
    name: "{{ packages }}"
    state: present
    classic: yes
  vars:
    packages:
    - ipfs-desktop

